In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os
os.chdir("C:\\Users\\Mohammed Rizwan\\Documents\\Data Science and Machine learning journey\\Jupyter notebook\\Misc Projects")

In [11]:
t_data=pd.read_csv("Trans_data.csv")

In [12]:
t_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8359 entries, 0 to 8358
Data columns (total 43 columns):
sample_number         8359 non-null int64
result_number         8359 non-null int64
text_id               8359 non-null object
sampled_date          8359 non-null object
recd_date             8359 non-null object
date_completed        8359 non-null object
date_reviewed         8359 non-null object
sample_status         8359 non-null object
sample_in_spec        8359 non-null object
group_name            8359 non-null object
t_site                8359 non-null object
t_plant               8359 non-null object
process_unit          8359 non-null object
sampling_point        8359 non-null object
product               8359 non-null object
product_grade         8359 non-null object
product_version       8359 non-null int64
stage                 8359 non-null object
sample_type           8359 non-null object
template              8359 non-null object
sample_name           8359 non-null object
analysis              8359 non-null object
t_test_method         7427 non-null object
test_comment          0 non-null float64
name                  8359 non-null object
entry                 8359 non-null object
formatted_entry       8359 non-null object
reported_value        8359 non-null object
numeric_entry         7417 non-null float64
result_status         8359 non-null object
result_in_spec        8359 non-null object
units                 8359 non-null object
display_string        8351 non-null object
order_number          8359 non-null int64
rule_type             8359 non-null object
spec_rule             6123 non-null object
min_value             1275 non-null float64
max_value             4544 non-null float64
text_value            304 non-null object
sap_functional_loc    8359 non-null object
analysis_type         8359 non-null int64
sap_func_loc          0 non-null float64
sap_tag_no            0 non-null float64
dtypes: float64(6), int64(5), object(32)
memory usage: 2.7+ MB

In [13]:
t_data.describe()

,sample_number,result_number,product_version,test_comment,numeric_entry,order_number,min_value,max_value,analysis_type,sap_func_loc,sap_tag_no
count,8.359000e+03,8.359000e+03,8359.0,0.0,7.417000e+03,8359.000000,1275.000000,4544.000000,8.359000e+03,0.0,0.0
mean,1.080150e+07,5.637023e+07,1.0,NaN,4.678613e+05,20.413805,47.709490,285.953823,1.000662e+09,NaN,NaN
std,6.403573e+04,3.513793e+05,0.0,NaN,2.190486e+06,8.320308,46.914489,637.625856,5.304543e+04,NaN,NaN
min,1.073533e+07,5.598833e+07,1.0,NaN,-2.000000e+01,7.000000,0.300000,-6.000000,1.000647e+09,NaN,NaN
25%,1.077754e+07,5.623648e+07,1.0,NaN,1.000000e-01,13.000000,25.000000,0.890000,1.000650e+09,NaN,NaN
50%,1.078474e+07,5.627995e+07,1.0,NaN,1.600000e+01,20.000000,40.000000,50.000000,1.000651e+09,NaN,NaN
75%,1.079157e+07,5.631995e+07,1.0,NaN,1.460000e+02,27.000000,92.500000,120.000000,1.000666e+09,NaN,NaN
max,1.098826e+07,5.739251e+07,1.0,NaN,1.100000e+07,36.000000,125.000000,2500.000000,1.001189e+09,NaN,NaN

In [14]:
t_data.head()

,sample_number,result_number,text_id,sampled_date,recd_date,date_completed,date_reviewed,sample_status,sample_in_spec,group_name,...,order_number,rule_type,spec_rule,min_value,max_value,text_value,sap_functional_loc,analysis_type,sap_func_loc,sap_tag_no
0,10735333,55988327,OIL/NGP-DHC-SUB-55ETDC055001/011117@1159,11/28/2016 0:00,11/15/2017 12:49,11/17/2017 18:44,11/17/2017 18:44,A,F,ELE_RELIABILITY,...,7,T,NaN,NaN,NaN,NaN,NGP-DHC-SUB-55ETDC055001,1000672303,NaN,NaN
1,10735333,55988328,OIL/NGP-DHC-SUB-55ETDC055001/011117@1159,11/28/2016 0:00,11/15/2017 12:49,11/17/2017 18:44,11/17/2017 18:44,A,F,ELE_RELIABILITY,...,8,T,NaN,NaN,NaN,NaN,NGP-DHC-SUB-55ETDC055001,1000672303,NaN,NaN
2,10735333,55988329,OIL/NGP-DHC-SUB-55ETDC055001/011117@1159,11/28/2016 0:00,11/15/2017 12:49,11/17/2017 18:44,11/17/2017 18:44,A,F,ELE_RELIABILITY,...,9,T,NaN,NaN,NaN,NaN,NGP-DHC-SUB-55ETDC055001,1000672303,NaN,NaN
3,10735333,55988330,OIL/NGP-DHC-SUB-55ETDC055001/011117@1159,11/28/2016 0:00,11/15/2017 12:49,11/17/2017 18:44,11/17/2017 18:44,A,F,ELE_RELIABILITY,...,10,T,Equal to,NaN,NaN,"Clear, free from sediment and suspended matter",NGP-DHC-SUB-55ETDC055001,1000672303,NaN,NaN
4,10735333,55988331,OIL/NGP-DHC-SUB-55ETDC055001/011117@1159,11/28/2016 0:00,11/15/2017 12:49,11/17/2017 18:44,11/17/2017 18:44,A,F,ELE_RELIABILITY,...,11,N,Result >= MIN,40.0,NaN,NaN,NGP-DHC-SUB-55ETDC055001,1000672303,NaN,NaN

In [15]:
df=t_data.groupby('sampling_point')

In [21]:
tid=t_data.sampling_point.unique()

In [29]:
tsample_data=t_data.sampled_date.unique()

In [30]:
raw_info=[]
for ID,tsample in zip(tid,tsample_data):
    raw_info.append((ID,tsample))

In [31]:
len(tsample_data)

31